body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: midnightblue
}

div {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

input[type = "text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid black;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-size: 14px;
}

button {
    padding: 8px 12px;
    background-color: midnightblue;
    color: white;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 25px 25px 0;
    font-size: 14px;
}