ul {
    list-style: none;
    width: 300px;
    margin: 20px auto;
}

body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: midnightblue
}

div {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 0;
    width: fit-content;
}

input[type = "text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid black;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-size: 14px;
}

button {
    padding: 8px 12px;
    background-color: midnightblue;
    color: white;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 25px 25px 0;
    font-size: 14px;
}

li {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

}

li.completed {
    text-decoration: line-through;
}

li.high {
    color: black;
}

li.medium {
    color:navy;
}

li.low {
    color:midnightblue;
}

li button {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid midnightblue;
    color: midnightblue;
    padding: 2px 8px;
}