ul {
    list-style: none;
    width: 500px;
    margin: 20px auto;
    padding: 0;
}

body {
    background-color: lightblue;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    margin-top: 100px;
    color:midnightblue;
    margin-bottom: 50px;
}

div {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 0;
    width: fit-content;
}

input[type = "text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid black;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-size: 14px;
    background-color:lightsteelblue;
}

button {
    padding: 8px;
    background-color:royalblue;
    color:beige;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 25px 25px 0;
    font-size: 14px;
}

li {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    box-sizing: border-box;
    text-align: center;
}

li span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    text-align: center;
}

li.completed span {
    text-decoration: line-through;
    color:grey;
}

li.high {
    color: black;
    font-weight: bold;
    font-style: italic;
}

li.medium {
    color:navy;
    font-weight: bold;
}

li.low {
    color:royalblue;
}

li button:first-of-type {
    margin-right: 10px;
    background-color:lightskyblue;
    border: 1px solid midnightblue;
    border-radius: 25px;
    color:midnightblue;
    padding: 2px 14px;
    flex-shrink: 0;
    margin-left: 5px;
}

li button:nth-child(3) {
    margin-left: 10px;
    background-color:#7AA7F0;
    border: 1px solid midnightblue;
    border-radius: 8px;
    color: midnightblue;
    padding: 2px 5px;
    flex-shrink: 0;
}



li button:last-of-type {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid midnightblue;
    border-radius: 0 25px 25px 0;
    color: midnightblue;
    padding: 0;
    flex-shrink: 0;
    height: 25px;
    width: 30px;
    display: center;
    font-size: 16px;

}

.due-date {
    font-size: 12px;
    background-color:#90B9F3;
    border: 1px solid midnightblue;
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 6px;
}